<div class="staff-container">
  <h1>{{ 'STAFF.TITLE' | translate }}</h1>

  <div class="card-list">
    <div class="user-card" *ngFor="let user of usersData">
      <h2>
        {{ user.name }} {{ user.lastName }}
      </h2>
      <p>
        <strong>{{ 'STAFF.EMAIL_LABEL' | translate }}:</strong>
        {{ user.email }}
      </p>
      <p>
        <strong>{{ 'STAFF.PASSWORD_LABEL' | translate }}:</strong>
        {{ user.password }}
      </p>
    </div>
  </div>

  <div *ngIf="error" class="error-message">
    {{ 'STAFF.ERROR_MESSAGE' | translate }}
  </div>
</div>
