/* General */
p, label {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.text-left {
  text-align: left;
  color: white;
  font-size: 2vh;
  margin: 10px 0 0 0;
}

a {
  color: #92badd;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  transition: color 0.3s;
}

a:hover {
  color: #F39C12;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  color: #F39C12; /* Color moderno */
  font-family: 'Open Sans', sans-serif;
}

/* Formulario */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#formContent {
  border-radius: 15px;
  background: linear-gradient(135deg, #2C3E50, #34495E); /* Gradiente moderno */
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  border: 1px solid #F39C12;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

/* Campos de entrada */
input[type=email], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  margin: 2px auto;
  width: 80%;
  border-radius: 8px;
  transition: background-color 0.5s, border-bottom 0.5s;
  font-family: 'Open Sans', sans-serif;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #e1e5ea;
  border-bottom: 2px solid #F39C12;
}

/* Botones */
input[type=submit] {
  background-color: #F39C12;
  border: none;
  color: white;
  padding: 15px 80px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 8px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

input[type=submit]:hover {
  background-color: #F1C40F;
  transform: translateY(-2px);
}

/* Alertas */
.alert {
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Animaciones */
.fadeInDown {
  animation: fadeInDown 1s both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Otros */
*:focus {
  outline: none;
}

#icon {
  width: 50%;
  border-radius: 50%; /* Añade un borde redondeado a la imagen */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
