<!-- report-view.component.html -->
<div class="container">
  <div class="header">
    <h1>Reports</h1>
    <p>Driver report list</p>
  </div>
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Driver’s Name</th>
            <th>Description</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let report of reports">
            <td>{{ report.name }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.dateTime.date }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
