<div class="container">
  <div class="header">
    <h1>Reports</h1>
    <p>Driver report list</p>
  </div>
  <div class="action-button">
    <button type="button" class="btn" (click)="openNew()">New</button>
  </div>
</div>
<div class="card-container">
  <!-- CARD-TABLE -->
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Driver's Name</th>
          <th>Description</th>
          <th>Type Report</th>
          <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of reports; let i = index">
          <td>{{ driversNames[i] }}</td> <!-- Change from report.idUser to report.name -->
          <td>{{ report.description }}</td>
          <td>{{ report.type }}</td>
          <td>{{ report.dateTime.date }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- REPORT-DIALOG -->
  <div class="modal" [class.visible]="reportDialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Report Details</h5>
          <button type="button" class="close" aria-label="Close" (click)="hideDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="report.name" required>
            <small *ngIf="submitted && !report.name" class="error">Name is required.</small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="report.description" required></textarea>
            <small *ngIf="submitted && !report.description" class="error">Description is required.</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel" (click)="hideDialog()">Cancel</button>
          <button type="button" class="btn save" (click)="saveReport()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- REPORT-DIALOG END -->
</div>
