<div class="container">
  <div class="header">
    <h1 class="title gradient-text">Reports</h1>
    <p class="subtitle">Driver report list</p>
  </div>
  <div class="card-container">
    <div class="card glass-card hover-scale">
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th>Driver’s Name</th>
            <th>Description</th>
            <th>Report Type</th>
            <th>Date</th>
            <th>Actions</th> <!-- Nueva columna para acciones -->
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let report of reports; let i = index" class="table-row">
            <td>{{ report.driverName }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.type }}</td>
            <td>{{ report.createdAt | date: 'shortDate' }}</td>
            <td>
              <button
                type="button"
                class="btn delete-btn hover-scale"
                (click)="deleteReport(report.id)"
              >
                Eliminar
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
