

@import 'font-awesome/css/font-awesome.min.css';

.w-full{

  margin-top: 30px;
  margin-right: 100px;


}

.container{


  color: #495057;
}

.flex-row{
  justify-content: flex-end;
}



.title {
  color: white;
  font-size: 45px;
  margin-top: -10px;
}

.subtitle {
  color: lightgrey;
  margin-top: -10px;
  font-size: 25px;
  margin-left: 400px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;

}

.card {
  color: black;
  background-color: #ffff;
  border-radius: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  flex: 1;
  margin-bottom: 20px;
  width: 450px; /* Ajusta este valor a tu gusto */
  height: 280px; /* Ajusta este valor a tu gusto */
}

.card2{
  color: black;
  background-color: #ffff;
  border-radius: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 5px;

  margin-bottom: 5px;
  width: 950px; /* Ajusta este valor a tu gusto */
  height: 180px; /* Ajusta este valor a tu gusto */
}

.card-title {
  color: black;
  font-size: 20px;
}

.card-content {

  margin-bottom: 22px;
  margin-top: -38px;
  margin-left: 60px;

}
.card-content1{

  font-size: 12px;
  color: white;
  background-color: #303841;
  border-radius: 20px;
  padding: 5px;
  width: 310px; /* Ajusta este valor a tu gusto */
  height: 45px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  margin-top: 19px;



}
.card-content2 {
  font-size: 12px;
  color: white;
  background-color: #303841;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  width: 380px; /* Ajusta este valor a tu gusto */
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: -5px;
  margin-left: 30px;
  text-indent: 10px;
}

.card-content3{

  font-size: 15px;
  color: white;
  background-color: #303841;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  width: 850px; /* Ajusta este valor a tu gusto */
  height: 80px;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.activity h3, .activity p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-title {
  /* Añadido para mover el título un poco a la derecha */
  padding-left: 100px;
  margin-bottom: 25px;
}

.card-title2{

  /* Añadido para mover el título un poco a la derecha */
  margin-top: 10px;
  padding-right:400px;
  margin-bottom: 5px;

}
h3 {
  margin-left: 12px;

}

.date-time {
  margin-top: -10px;
  margin-left: 12px;
  display: flex; /* Se utiliza flexbox para el diseño */
  gap: 1px; /* Ajusta este valor a tu gusto para modificar la separación */
}

.date-time2{

  display: flex;
  gap: 100px;
  justify-content: center;
}

.date-time p1 {

  margin-left: 100px; /* Ajusta este valor a tu gusto */
  margin-top: 6px;
}


.see-more-button {
  font-size: 14px;
  margin-top: -30px;
  margin-bottom: 18px;
  background-color: #ffcc00;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  margin-left: 260px;
  border-radius: 20px;
  width: 100px; /* Ajusta este valor a tu gusto */
  height: 27px;
}


.see-more-button1 {
  font-size: 14px;
  margin-top: -40px;
  margin-bottom: 5px;
  background-color: #ffcc00;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;

  margin-left: 310px;
  border-radius: 20px;
  width: 100px;
  height: 27px;
}
.see-more-button2 {
  font-size: 14px;
  margin-top: -40px;
  background-color: #ffcc00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

  margin-left: 770px;
  border-radius: 20px;
  width: 100px; /* Ajusta este valor a tu gusto */
  height: 27px;
}

.custom-image {
  width: 80px; /* Ajusta el ancho según tus preferencias */
  height: auto; /* Mantener la proporción original */
  margin-left: 200px; /* Ajusta la posición horizontal */
}


.welcome-container {
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: flex-end; /* Alinear al lado derecho */
  margin-left: 250px
}

.fa {
  padding-right:15px

}
