<div class="sidebar">
  <div class="user-info" (click)="goToProfile()">
    <img [src]="getUserImage(type)" alt="User Icon">
    <div class="user-name">
      <h2>{{ name }} {{ lastName }}</h2>
      <p>{{ type }}</p>
    </div>
  </div>
  <ul class="menu">
    <li (click)="goToHome()">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </li>
    <li (click)="goToShipments()">
      <mat-icon>inventory</mat-icon>
      <span>Shipments</span>
    </li>
    <li (click)="goToReports()">
      <mat-icon>bar_chart</mat-icon>
      <span>Issues</span>
    </li>
    <li (click)="goToVehicles()">
      <mat-icon>local_shipping</mat-icon>
      <span>Vehicles</span>
    </li>
    <li (click)="goToPricing()">
      <mat-icon>payments</mat-icon>
      <span>Go to PRO</span>
    </li>
  </ul>
  <div class="settings-section">
    <ul class="menu">
      <li (click)="goTologout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </li>
    </ul>
  </div>
</div>
