.sidebar {
  width: 260px; /* Ancho adecuado */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  background-color: #2C3E50; /* Fondo oscuro */
  color: #ECF0F1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita que el contenido desborde */
  box-sizing: border-box; /* Incluye padding en el cálculo del ancho */
}

.user-info {
  display: flex;
  align-items: center;
  padding: 15px; /* Espaciado interno */
  cursor: pointer;
}

.user-info img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border: 2px solid #3498DB;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 20px 0; /* Espaciado entre la lista y otros elementos */
}

.menu li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  background-color: #34495E;
}

.menu li mat-icon {
  margin-right: 10px;
}

.settings-section {
  margin-top: auto; /* Empuja la sección de settings al final del sidebar */
  border-top: 1px solid #34495E;
  padding-top: 10px;
}
