<div class="sidebar">
  <div class="user-info" (click)="goToProfile()">
    <img
      [src]="getUserImage(type)"
      alt="{{ 'SIDEBAR.USER_ICON_ALT' | translate }}"
    />
    <div class="user-name">
      <h2>{{ name }} {{ lastName }}</h2>
      <p>{{ type | translate }}</p>
    </div>
  </div>

  <ul class="menu">
    <li (click)="goToHome()" title="{{ 'SIDEBAR.HOME' | translate }}">
      <mat-icon>dashboard</mat-icon>
      <span>{{ "SIDEBAR.HOME" | translate }}</span>
    </li>
    <li (click)="goToShipments()" title="{{ 'SIDEBAR.SHIPMENTS' | translate }}">
      <mat-icon>local_shipping</mat-icon>
      <span>{{ "SIDEBAR.SHIPMENTS" | translate }}</span>
    </li>
    <li (click)="goToReports()" title="{{ 'SIDEBAR.ISSUES' | translate }}">
      <mat-icon>assignment</mat-icon>
      <span>{{ "SIDEBAR.ISSUES" | translate }}</span>
    </li>
    <li (click)="goToVehicles()" title="{{ 'SIDEBAR.VEHICLES' | translate }}">
      <mat-icon>directions_car</mat-icon>
      <span>{{ "SIDEBAR.VEHICLES" | translate }}</span>
    </li>
    <li (click)="goToPricing()" title="{{ 'SIDEBAR.GO_PRO' | translate }}">
      <mat-icon>workspace_premium</mat-icon>
      <span>{{ "SIDEBAR.GO_PRO" | translate }}</span>
    </li>
    <li (click)="goToAnalytics()">
      <mat-icon>analytics</mat-icon>
      <span>{{ "SIDEBAR.ANALYTICS" | translate }}</span>
    </li>
  </ul>

  <div class="settings-section">
    <ul class="menu">
      <li (click)="goTologout()" title="{{ 'SIDEBAR.LOGOUT' | translate }}">
        <mat-icon>logout</mat-icon>
        <span>{{ "SIDEBAR.LOGOUT" | translate }}</span>
      </li>
    </ul>
  </div>
</div>
