<!-- src/app/public/pages/pg-register-successful/pg-register-successful.component.html -->
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Icono de confirmación -->
    <div class="fadeIn first">
      <img src="https://i.ibb.co/RCDQZnJ/logo.png" id="icon" alt="Logo" />
    </div>

    <!-- Título -->
    <h1 [innerHTML]="'REGISTER.SUCCESS_TITLE' | translate"></h1>

    <!-- Mensaje -->
    <p>{{ 'REGISTER.SUCCESS_MESSAGE' | translate }}</p>

    <!-- Botón de aceptación -->
    <div class="buttons">
      <button class="btn" (click)="goToLogin()">
        {{ 'REGISTER.SUCCESS_BUTTON' | translate }}
      </button>
    </div>
  </div>
</div>
