<!-- src/app/components/sidebar-staff/sidebar-staff.component.html -->
<div class="sidebar">
  <div class="user-info" (click)="goToChangueCredentials()">
    <img
      [src]="getUserImage(type)"
      alt="{{ 'SIDEBAR.USER_ICON_ALT' | translate }}"
    />
    <div class="user-name">
      <h2>{{ name }} {{ lastName }}</h2>
      <p>{{ type | translate }}</p>
    </div>
  </div>

  <ul class="menu">
    <li (click)="goToHome()" title="{{ 'SIDEBAR.HOME' | translate }}">
      <mat-icon>dashboard</mat-icon>
      <span>{{ "SIDEBAR.HOME" | translate }}</span>
    </li>
    <li (click)="goToChangueCredentials()" title="{{ 'SIDEBAR.PROFILE' | translate }}">
      <mat-icon>person</mat-icon>
      <span>{{ "SIDEBAR.PROFILE" | translate }}</span>
    </li>
  </ul>
  
  <div class="settings-section">
    <ul class="menu">
      <li (click)="goTologout()" title="{{ 'SIDEBAR.LOGOUT' | translate }}">
        <mat-icon>logout</mat-icon>
        <span>{{ "SIDEBAR.LOGOUT" | translate }}</span>
      </li>
    </ul>
  </div>
</div>
