/* General */
p {
  font-family: 'Open Sans', sans-serif;
  color: white;
}
.text-left{
  text-align: left;
  margin-bottom: -2px;
}
label{
  color: white;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
}

/* Formulario */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#formContent {
  border-radius: 10px;
  background: #303841;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  border: 1px solid white;
  text-align: center;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-half {
  width: calc(50% - 5px);
  margin-bottom: 15px;
}
.input-half label {
  display: block;
  text-align: left;
}

.checkbox-group {
  margin-top: 20px;
}

/* Campos de entrada */
input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 10px; /
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 88%;
  border-radius: 5px;
  transition: background-color 0.5s, border-bottom 0.5s;
  font-family: 'Open Sans', sans-serif;
}
.input-half input[type=text]:focus,
.input-half input[type=password]:focus {
  background-color: #92badd;
  border-bottom: 2px solid #F39C12;
}

.input-half input[type=text]:hover,
.input-half input[type=password]:hover {
  background-color: #92badd;
  color: white;
}

/* Botones */
input[type=submit] {
  background-color: #F39C12;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Open Sans', sans-serif;
}
input[type=submit]:hover {
  background-color: #92badd;
}
/* Checkbox */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}
input[type=checkbox] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 1px solid #F39C12;
  background-color: transparent;
}

input[type=checkbox]:checked + label:before {
  background-color: #F39C12;
}

input[type=checkbox] + label:after {
  content: '\f00c';
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  color: black;
  position: absolute;
  left: 3px;
  top: -1px;
  opacity: 0;
  transition: opacity 0.2s;
}

input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* Alertas */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-family: 'Open Sans', sans-serif;
}

/* Animaciones */
.fadeInDown {
  animation: fadeInDown 1s both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Otros */
*:focus {
  outline: none;
}

#icon {
  width: 60%;
}
