<div class="container responsive-container">
  <h1 class="title gradient-text">Profile Management</h1>
  
  <!-- Formulario de autenticación siempre visible si no está autenticado -->
  <div *ngIf="!authenticated" class="form-container glass-effect">
    <h2>Authentication</h2>
    <div class="grid formgrid p-fluid">
      <div class="field mb-4 col-12 md:col-6">
        <label for="authEmail" class="font-medium">Email</label>
        <input id="authEmail" type="email" [(ngModel)]="authEmail" class="p-inputtext dynamic-input" required>
      </div>
      <div class="field mb-4 col-12 md:col-6">
        <label for="authPassword" class="font-medium">Password</label>
        <input id="authPassword" type="password" [(ngModel)]="authPassword" class="p-inputtext dynamic-input" required>
      </div>
      <div class="col-12">
        <button type="button" class="p-button hover-scale animated-btn btn-submit" (click)="authenticateUser()">Submit</button>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3">
      <i class="pi pi-exclamation-triangle"></i> {{ error_msg }}
    </div>
  </div>

</div>
