<div class="container">
  <h1 class="title">List of Shipments</h1>
  <div *ngIf="shipments.length > 0; else noShipments">
    <div class="card-container">
      <div class="shipment-card" *ngFor="let shipment of shipments">
        <p><strong>ID:</strong> {{ shipment.id }}</p>
        <p><strong>Destiny:</strong> {{ shipment.destiny }}</p>
        <p><strong>Description:</strong> {{ shipment.description }}</p>
        <p><strong>Status:</strong> {{ shipment.status }}</p>
        <p><strong>Driver:</strong> {{ shipment.driverName }}</p>
        <p><strong>Created At:</strong> {{ shipment.createdAt | date: 'short' }}</p>
      </div>
    </div>
  </div>
  <ng-template #noShipments>
    <p>No shipments available.</p>
  </ng-template>
</div>
