/* General */
p {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

h1 {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #F39C12; /* Acento moderno */
  margin: 20px 0;
}

/* Formulario */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#formContent {
  border-radius: 15px;
  background: linear-gradient(135deg, #2C3E50, #34495E); /* Gradiente elegante */
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  border: 1px solid #F39C12;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* Botones */
.buttons {
  margin-top: 30px;
}

.btn {
  background-color: #F39C12;
  border: none;
  color: white;
  padding: 15px 0;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Open Sans', sans-serif;
}

.btn:hover {
  background-color: #F1C40F;
  transform: translateY(-3px);
  font-weight: 700;
}

/* Animaciones */
.fadeInDown {
  animation: fadeInDown 1s both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Otros */
*:focus {
  outline: none;
}

#icon {
  width: 50%;
  border-radius: 50%; /* Mejora el diseño de la imagen */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
