
mat-sidenav-container {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  display: flex;
  overflow: hidden; /* Evita el desbordamiento */
  background-color: #5D6D7E; /* Fondo del contenido */
}

.p-sidebar {
  width: 280px; /* Ancho fijo */
  max-width: 280px; /* Máximo ancho */
  background-color: #2C3E50;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  flex-shrink: 0; /* Evita que el sidebar se reduzca */
  overflow: hidden; /* Asegura que el contenido no desborde */
}

mat-sidenav-content {
  flex: 1; /* Usa el espacio restante */
  overflow: auto; /* Permite el desplazamiento si es necesario */
  background-color: #5D6D7E;
  padding: 20px; /* Agrega espaciado interno */
}







