<div class="container">
  <div>
    <h1 class="title">SHIPMENTS</h1>
    <div class="button-group">
      <button mat-raised-button class="p-button" (click)="showAddForm = !showAddForm">Add Shipment</button>
      <button mat-raised-button class="p-button" (click)="showDeleteForm = !showDeleteForm">Delete Shipment By Id</button>
    </div>
    <form *ngIf="showAddForm" (submit)="addShipment()" class="form-card">
      <h2 class="title-card">New Shipment</h2>
      <label >Model</label>
      <input [(ngModel)]="shipment.description" name="model" placeholder="Model" required>
      <label >License Plate</label>
      <input [(ngModel)]="shipment.destiny" name="licensePlate" placeholder="License Plate" required>
      <label >Serial Number</label>
      <input [(ngModel)]="shipment.dateShipment" name="serialNumber" placeholder="Serial Number" required>
      <button mat-raised-button type="submit">Confirm</button>
      <button mat-raised-button (click)="showAddForm = false">Close</button>
    </form>
    <form *ngIf="showDeleteForm" class="form-card">
      <h2 class="title-card">Delete Vehicle</h2>
      <label >Vehicle ID</label>
      <input [(ngModel)]="deleteShipment" name="vehicleId" placeholder="Vehicle ID" required>
      <button mat-raised-button (click)="deleteShipment()">Confirm</button>
      <button mat-raised-button (click)="showDeleteForm = false">Close</button>
    </form>
  </div>
  <div *ngFor="let shipment of this.shipments">
    <mat-card class="card">
      <mat-card-title>Vehicle ID: {{shipment[0].id}}</mat-card-title>
      <mat-card-content>
        <p>License Plate: {{shipment[0].descripcion}}</p>
        <p>Serial Number: {{shipment[0].destiny}}</p>
        <p>Model: {{shipment[0].dateTime}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
